.main-content{
  height: fit-content;
  margin-left: 30px;
  margin-bottom: 100px;
  width: 550px;
  display: block;
  text-align: center;
  
}

.search-bar{
  border: 1px solid;
  margin-top: 15px;
  height: 40px;
}

.searchInput{
  float: left;
  border: 1px solid;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 5px;
  width: 150px;
  height: 30px
}

.addBtn{
  float: right;
  font-size: 13px;
  width: 100px;
  height: 30px;
  margin-right: 5px;
  margin-top: 5px;
}

.addBtn:hover,
.addBtn:focus{
  background-color: gray;
}

.table-box{
  margin-top: 10px;
  height: 250px
}

.table{
  border-collapse: collapse;
  border-radius: 5px;
  width: 550px;
}

.table th{
  font-size: 13px;
  font-weight: bold;
  border: 1px solid;
  text-align: center;
}

.table td{
  font-size: 10px;
  border: 1px solid;
  text-align: center;
}

.dBtn{
  background-color: red;
}

.eBtn{
  background-color: green;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(16, 17, 16, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.addEditPopup {
  background: white;
  width: 350px; 
  height: 320px;
  border: 1px solid #000;
  border-radius: 6px;
  padding: 10px;
  position: relative;
}

.closePopup {
  color: red;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 5px;
}

.popupinput{
  height: 30px;
  padding-left: 6px;
  border-radius: 5px;
  border: 1px solid;
}

.popuplabel{
  margin-bottom: 4px;
  font-weight: 600;
  text-align: left;
}

.addpopupbtn{
  margin-top: 10px;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  background-color: rgba(0,140,255);
  color: white;
  border: none;
  cursor: pointer;
}

.addpopupbtn:hover{
  background-color: rgba(0,90,200);
}

.home-page{
  text-align: center;
  margin-top: 50px;
}

.main-img{
  width: 300px;
  border-radius:10px;
}

.buttons{
  margin-top: 20px;
}

button{
  margin: 0 10px;
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer;
}

.form-container{
  height: 550px;
  border-radius: 5px;
  cursor: pointer;
}

.login-link {
  margin-top: 15px;
  font-size: 14px;
}

.login-btn {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
}

.login-btn:hover {
  color: darkblue;
}

.form-container {
  width: 400px;
  margin: 50px auto;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-container h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

.form-container input {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s;
}

.form-container input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-container label {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-container button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.form-container button[type="submit"]:hover {
  background-color: #0056b3;
}

.err {
  color: #ff4d4f;
  background-color: #ffe5e5;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 14px;
}

.succ {
  color: #28a745;
  background-color: #e5f7eb;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 14px;
}

.login-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.login-btn {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
}

.login-btn:hover {
  color: #a5aaaf;
}

/*---------------------Header & Footer------------------------*/
/*HEADER*/
.header {
  width: 100%;
  background-color: #1a73e8;
  color: white;
  padding: 12px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo{
  font-size: 22px;
  font-weight: bold;
}

.nav{
  display: flex;
  gap: 500px;
  align-items: center;
}

.nav-link{
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.2s ease;
  margin-left: 50px;
}

.nav-link:hover{
  opacity: 0.8;
}

.logout-btn{
  background-color: #d9534f;
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  margin-left: 1000px;
}

.logout-btn:hover{
  background-color: #c9302c;
}

/*FOOTER*/
.footer{
  width: 100%;
  background-color: #1a73e8;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 50px;
}

.verify-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  text-align: center;
}

.success-img {
  width: 150px;
  margin-bottom: 20px;
}

.green-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.green-btn:hover {
  background-color: #45a049;
}

